:root {
  --sidebar-width: 350px;
  --background: #111111;
}

.displayed {
  opacity: 100 !important;
  z-index: 1 !important;
}

* {
  user-select: none;
  font-family: "San Francisco", Helvetica, Arial, san-serif;
}

body {
  margin: 0;
  padding: 0;
  background: var(--background);
}

#app {
  height: 100vh;
  display: flex;
}

#sidebar {
  width: calc(var(--sidebar-width) - 40px);
  height: calc(100vh - 40px);
  background: #fff;
  position: absolute;
  z-index: -1;
  opacity: 0;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

#map {
  width: 100%;
  height: 100%;
  z-index: 0;
}

.coordinate {
  position: absolute;
  bottom: 10px;
  right: 50%;
}

.leaflet-popup-content-wrapper {
  background-color: var(--background);
  color: #fff;
  border: 1px solid #111111bb;
  border-radius: 0px;
}
