:root {
    --sidebar-width: 400px;
    --background: #111111;
    --second: #f5f5f5;
    --link-cursor: url(../../../assets/cursors/Link.cur), pointer;
    --default-cursor: url(../../../assets/cursors/Normal.cur), default;
    --text-cursor: url(../../../assets/cursors/Text.cur), text;
  }