#app {
  height: 100vh;
  display: flex;
}

#sidebar {
  width: calc(var(--sidebar-width));
  height: calc(100vh);
  background: var(--second);
  position: absolute;
  z-index: -1;
  opacity: 0;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#sidebar p {
  padding: 0 20px;
  color: var(--background);
}

#sidebar div p:first-child {
  padding-right: 0;
}

#sidebar div p:not(:first-child) {
  padding: 0;
}

#sidebar-close-btn {
  position: absolute;
  background: var(--second);
  border-radius: 100px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10px;
  right: 10px;
  cursor: var(--link-cursor);
}

#sidebar-close-btn ion-icon {
  font-size: 30px;
}

#name,
#dates,
#address,
#origin,
#acts,
.act {
  display: flex;
  gap: 5px;
}

#name p {
  font-size: 1.375rem;
}
.birthdate,
.countryEntranceDate {
  font-size: 13px;
}

.countryEntranceDate::before {
  content: "Entrée sur le territoire en ";
}

#address {
  padding: 0 20px;
}

#acts {
  flex-direction: column;
  gap: 15px;
}

.act {
  flex-direction: column;
}

.act p {
  padding: 0 20px !important;
}

.actDate {
  font-size: 1.375rem;
}

#map {
  width: 100%;
  height: 100%;
  z-index: 0;
}

.coordinate {
  position: absolute;
  bottom: 10px;
  right: 50%;
}

.sidebarimg {
  width: 100%;
  height: calc(var(--sidebar-width) * (9 / 16));
  background: rgba(15, 15, 15, 0.15);
}

.leaflet-popup-content-wrapper {
  background-color: var(--background);
  color: var(--second);
  border: 1px solid #111111bb;
  border-radius: 0px;
}

.leaflet-control,
.leaflet-control-zoom-out,
.leaflet-control-zoom-in {
  background: var(--background) !important;
  border: none !important;
  color: var(--second) !important;
}

.leaflet-control span {
  color: var(--second) !important;
}

.leaflet-control-layers-separator {
  background: var(--second);
  border-top-width: 0.1px;
}
