#app {
  height: 100vh;
  display: flex;
}

#sidebar {
  width: calc(var(--sidebar-width));
  height: calc(100vh);
  background: var(--background);
  position: absolute;
  z-index: -1;
  opacity: 0;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#sidebar p {
  padding: 0 25px;
  color: var(--second);
}

#sidebar ion-icon {
  font-size: 25px;
  color: var(--second);
}

#sidebar div p:first-child {
  padding-right: 0;
}

#sidebar div p:not(:first-child) {
  padding: 0;
}

#sidebar-close-btn {
  position: absolute;
  background: var(--background);
  border-radius: 100px;
  border: 1px solid var(--third);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10px;
  right: 10px;
  cursor: var(--link-cursor);
}

#name,
#dates,
#address,
#origin,
#acts,
.act,
#coords {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

#name {
  margin-top: 10px;
}

#name p {
  font-size: 1.375rem;
}
.birthdate,
.countryEntranceDate,
.nationalities,
.actTitle,
.actDescription {
  font-size: 15px;
}

.nationalities {
  margin-top: 5px;
}

#dates p::after {
  content: "|";
  padding-left: 5px;
}

#dates p:last-child::after {
  content: "";
}

.countryEntranceDate::before {
  content: "Entrée sur le territoire en ";
}

#address {
  padding: 0 25px;
  align-items: center;
}

#address p {
  width: fit-content;
}

#address p::after {
  content: "|";
  padding-left: 5px;
}

#address p:last-child::after {
  content: "";
}

#acts {
  flex-direction: column;
  gap: 15px;
}

.act {
  flex-direction: column;
}

.act p {
  padding: 0 25px !important;
}

.actDate {
  font-size: 1.225rem;
}

#coords {
  padding-left: 25px;
  margin-top: 10px;
}

.latitude::after {
  content: ",";
}

#map {
  width: 100%;
  height: 100%;
  z-index: 0;
}

.coordinate {
  position: absolute;
  bottom: 10px;
  right: 50%;
}

.personType {
  position: absolute;
  right: 10px;
  top: calc(var(--sidebar-width) * (9 / 16) - 50px);
  border-radius: 30px;
  background: var(--background);
  padding: 8px 15px;
  border: 1px solid var(--third);
}

.sidebarimg {
  width: 100%;
  height: calc(var(--sidebar-width) * (9 / 16));
  background: rgba(15, 15, 15, 0.15);
  background-size: cover !important;
  background-position: center !important;
}

.leaflet-popup-content-wrapper {
  background-color: var(--background);
  color: var(--second);
  border: 1px solid #111111bb;
  border-radius: 0px;
}

.leaflet-control,
.leaflet-control-zoom-out,
.leaflet-control-zoom-in {
  background: var(--background) !important;
  border: none !important;
  color: var(--second) !important;
}

.leaflet-control span {
  color: var(--second) !important;
}

.leaflet-control-layers-separator {
  background: var(--second);
  border-top-width: 0.1px;
}

#credits{
  position: fixed;
  bottom: 10px;
  left: 10px;
  font-size: 15px;
  color: var(--second);
}